@use "sass:color";

/**************************
* VARIABLES
***************************/
$font-size: 14pt;
$font-name: "VCR OSD MONO";

$bg0: #1d1d20;
$bg1: #28282c;
$bg2: #36363a;
$bg3: #48484b;

$fg0: #ffffff;
$fg1: #c0c0c0;
$fg2: #808080;

$accent: #3584e4;
$accent-light: color.adjust(#3584e4, $lightness: 10%);
$blue: #3584e4;
$blue-light: color.adjust($blue, $lightness: 10%);
$cyan: #2190a4;
$cyan-light: color.adjust($cyan, $lightness: 10%);
$green: #3a944a;
$green-light: color.adjust($green, $lightness: 10%);
$yellow: #c88800;
$yellow-light: color.adjust($yellow, $lightness: 10%);
$orange: #ed5b00;
$orange-light: color.adjust($orange, $lightness: 10%);
$red: #e62d42;
$red-light: color.adjust($red, $lightness: 10%);
$purple: #9141ac;
$purple-light: color.adjust($purple, $lightness: 10%);

$widget-radius: 8px;

$window-padding: 15px;

$window-opacity: 1;
$window-border-width: 2px;
$window-border-color: $bg2;
$window-outline-width: 2px;
$window-outline-color: $fg1;
$window-radius: $widget-radius + $window-padding + $window-border-width;
/* $window-shadow-offset: ${toCssValue(window.shadow.offset)};
$window-shadow-blur: ${window.shadow.blur}px;
$window-shadow-spread: ${window.shadow.spread}px;
$window-shadow-color: ${window.shadow.color};
$window-shadow-opacity: ${window.shadow.opacity}; */

$bar-position: top;
$bar-bg: $bg0;
$bar-opacity: 1;
$bar-margin: 0px 0px 0px 0px;
$bar-padding: 6px;
$bar-border-width: 2px;
$bar-border-color: $bg2;
$bar-separator-width: 2px;
$bar-separator-color: $bg2;
$bar-button-bg: $bg0;
$bar-button-bg-hover: $bg1;
$bar-button-bg-active: $bg2;
$bar-button-fg: $fg0;
$bar-button-border-width: 0px;
$bar-button-border-color: $bg2;
$bar-button-opacity: 1;
$bar-button-padding: 0px 8px;
/* $bar-shadow-offset: ${toCssValue(bar.shadow.offset)};
$bar-shadow-blur: ${bar.shadow.blur}px;
$bar-shadow-spread: ${bar.shadow.spread}px;
$bar-shadow-color: ${bar.shadow.color};
$bar-shadow-opacity: ${bar.shadow.opacity}; */
/* $bar-vertical: ${isVertical}; */
$bar-size: 48px;

$transition: 0.2s;
/* $shadow: ${theme.shadow}; */
