window#powermenu {
	all: unset;
	color: $fg0;
	font-size: $font-size;

	.main {
		background: rgba($bg0, $window-opacity);
		padding: $window-padding;
		border: $window-border-width solid $window-border-color;
		border-radius: $window-radius;
		@if $shadow {
			box-shadow: $window-shadow-offset
				$window-shadow-blur
				$window-shadow-spread
				rgba($window-shadow-color, $window-shadow-opacity);
		}
	}

	.menubutton {
		padding: 0;
		background: transparent;
		font-weight: normal;
		outline: none;

		image {
			border-radius: $widget-radius;
			background: rgba($bg1, $window-opacity);
			min-height: 120px;
			min-width: 120px;
		}

		&:focus {
			image {
				transition: 0s;
				outline-offset: -$window-outline-width;
				outline: $window-outline-width solid $window-outline-color;
			}
		}

		&:hover {
			image {
				transition: background $transition;
				background: rgba($bg2, $window-opacity);
			}
		}
	}
}

window#verification {
	all: unset;
	color: $fg0;

	.main {
		background: rgba($bg0, $window-opacity);
		padding: $window-padding;
		border-radius: $window-radius;
		border: $window-border-width solid $window-border-color;
		box-shadow: $window-shadow-offset $window-shadow-blur
			$window-shadow-spread
			rgba($window-shadow-color, $window-shadow-opacity);
	}

	.title {
		font-size: 22px;
	}

	button {
		border-radius: $widget-radius;
		font-weight: normal;
		outline: none;
		padding: 10px;
		background: rgba($bg1, $window-opacity);
		min-width: 150px;

		&:focus {
			transition: 0s;
			outline-offset: -$window-outline-width;
			outline: $window-outline-width solid $window-outline-color;
		}

		&:hover {
			transition: background $transition;
			background: rgba($bg2, $window-opacity);
		}
	}
}
