@use "../../_vars.scss";
@use "sass:color";

.workspaces {
	padding-left: 12px;

	button.workspace {
		padding: vars.$bar-button-padding;
		/* margin: vars.$bar-button-padding; */
		border-radius: 24px;
		transition: all 0.3s ease-in-out;
		border: 1px groove alpha(vars.$bar-bg, vars.$bar-opacity);
	}

	.workspace-1 {
		background-color: alpha(vars.$red-dimmed, 0.9) !important;
		color: vars.$bar_bg !important;

		&.active {
			color: vars.$bar_bg !important;
			background-color: alpha(vars.$red, 0.9) !important;
		}

		&:hover {
			color: vars.$bar-bg !important;
			opacity: 0.9 !important;
			background: linear-gradient(
				180deg,
				vars.$red 75%,
				vars.$red-dimmed
			) !important;
		}
	}
}
