@use "../../_vars.scss";
@use "sass:color";

.workspaces {
	&.compact {
		padding: vars.$bar-padding 0;

		.content {
			padding: vars.$bar-button-padding;
			background: vars.$bar-button-bg;
			border-radius: vars.$widget-radius;
			.workspace {
				all: unset;

				min-width: 20px;
				min-height: 14px;

				border-radius: vars.$widget-radius;
				background: vars.$bar-button-bg-hover;
				transition: all vars.$transition;

				&.active {
					background: vars.$accent;
					min-width: 30px;

					transition: all vars.$transition;
				}
			}
		}
		&:hover {
			.content {
				background: vars.$bar-button-bg-hover;
				transition: background vars.$transition;
				.workspace {
					background: color.adjust(
						vars.$bar-button-bg-hover,
						$lightness: 10%
					);
					&.active {
						background: vars.$accent-light;
						transition: all vars.$transition;
					}
					transition: all vars.$transition;
				}
			}
		}
	}
	.workspace {
		&.minimal,
		&.empty {
			.content {
				padding: vars.multiply-padding(
					vars.$bar-button-padding,
					$multiplier: 1.5
				);
			}
		}
	}
}
