@use "../_vars.scss";

window.bar {
	all: unset;
	color: vars.$fg0;
	font-size: vars.$font-size;
	background:
		linear-gradient(vars.$bar-bg, vars.$bar-bg) padding-box,
		vars.$rainbow-gradient border-box;
	transition-duration: 0.5s;
	border-radius: 24px;
	border: 4px solid transparent;

	.main {
		margin: vars.$bar-margin;
		background: rgba(vars.$bar-bg, vars.$bar-opacity);
		min-height: vars.$bar-size;
		border-bottom: vars.$bar-border-width solid vars.$bar-border-color;
	}

	tooltip {
		background: rgba(vars.$bg0, vars.$bar-opacity);
		border: vars.$bar-border-width solid vars.$bar-border-color;
		border-radius: vars.$widget-radius;
	}

	separator {
		border-radius: vars.$widget-radius;
		background: rgba(vars.$bar-separator-color, vars.$bar-opacity);
		&.vertical {
			margin: 0 vars.$bar-padding;
			min-height: vars.$bar-separator-width;
		}

		&.horizontal {
			margin: vars.$bar-padding 0;
			min-width: vars.$bar-separator-width;
		}
	}

	.modules-start {
		> *:first-child .bar-item,
		> .bar-item:first-child {
			padding-left: vars.$bar-padding;
		}
	}

	.modules-end {
		> *:last-child .bar-item,
		> .bar-item:last-child {
			padding-right: vars.$bar-padding;
		}
	}
}
